body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}

img, button {
  display: block;
}

.container {
  min-width: 320px;
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

a {
  text-decoration: none;
}

h1, h2, h3, button, ul, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__logo {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-align: center;
}
.header .container {
  display: flex;
  flex-direction: column;
  gap: 112px;
  padding-top: 19px;
}
@media screen and (min-width: 768px) {
  .header .container {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 37px 49px 0;
  }
}

.header-list {
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: center;
}
.header-list__link {
  display: block;
  text-align: center;
  color: #fff;
  padding: 10px;
}
.header-list__link--sign {
  border: 2px solid #fff;
  border-radius: 50px;
}

.hero {
  background-image: url("../images/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 214px 0 136px;
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .hero {
    background-image: url("../images/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../images/hero-tablet@1x.jpg");
    padding: 140px 0 232px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx), screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url("../images/hero-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .hero {
    background-image: url("../images/hero-desktop@1x.jpg");
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx), (min-width: 1200px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url("../images/hero-desktop@2x.jpg");
  }
}
.hero__title {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  max-width: 215px;
  margin: 0 auto 12px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 52px;
    max-width: 370px;
    margin-bottom: 36px;
  }
}
.hero__text {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  max-width: 250px;
  margin: 0 auto 17px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 24px;
    max-width: 100%;
    margin-bottom: 33px;
  }
}
.hero__btn {
  color: #fff;
  border-radius: 20px;
  border: none;
  background-color: rgb(255, 78, 80);
  padding: 12px 38px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero__btn {
    padding: 12px 11px;
  }
}

.partners {
  padding: 64px 0 57px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .partners {
    padding: 68px 0 39px;
  }
}
@media screen and (min-width: 1400px) {
  .partners {
    padding: 68px 0 72px;
  }
}
.partners__title {
  color: rgb(51, 51, 51);
  font-size: 22px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .partners__title {
    margin-bottom: 34px;
  }
}
.partners__btn {
  width: 283px;
  height: 43px;
  border-radius: 20px;
  border: 2px solid rgb(255, 78, 80);
  background-color: #fff;
  margin: 29px auto 0;
  padding: 11px 0 9px;
  color: rgb(255, 78, 80);
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}
@media (min-width: 768px) {
  .partners__btn {
    width: 195px;
    height: 42px;
    margin-top: 38px;
  }
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .partners-list {
    gap: 63px;
  }
}
@media screen and (min-width: 1024px) {
  .partners-list {
    gap: 32px;
  }
}
.partners-list__item {
  flex: 1 1 100%;
}
@media screen and (min-width: 768px) {
  .partners-list__item {
    flex-basis: calc((100% - 63px) / 2);
  }
  .partners-list__item:nth-child(1) {
    order: 1;
  }
  .partners-list__item:nth-child(2) {
    order: 3;
  }
  .partners-list__item:nth-child(3) {
    order: 2;
  }
  .partners-list__item:nth-child(4) {
    order: 4;
  }
}
@media screen and (min-width: 1024px) {
  .partners-list__item {
    flex-basis: calc((100% - 96px) / 4);
  }
}
.partners-list__thumb {
  width: 120px;
  height: 120px;
  margin: 0 auto 16px;
  position: relative;
}
.partners-list__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.partners-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 4px solid #fff;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.partners-list__icon--tv {
  background-color: #FF4E50;
}
.partners-list__icon--alhm {
  background-color: #FFA507;
}
.partners-list__icon--coffe {
  background-color: #1CD7AD;
}
.partners-list__icon--tg {
  background-color: #4E73DB;
}
.partners-list__svg {
  width: 19px;
  height: 19px;
  fill: #fff;
}
.partners-list__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #333;
  margin: 0 0 13px;
}
.partners-list__text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #666;
}/*# sourceMappingURL=main.css.map */